.board-wrapper {
    position: relative;
    padding: 0 15px;
}

.board-container {
    flex: 1;
    overflow-x: auto;
    overflow-y: visible;
    padding: 10px 5px;
    scroll-behavior: smooth;
    
    scrollbar-width: thin;
    
    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

.board {
    display: grid;
    gap: 15px;
    align-items: start; // مهم جداً: يمنع تمدد الأعمدة لتكون متساوية
    grid-template-columns: repeat(5, 1fr);
}

// 4 أعمدة
@media (max-width: 1200px) {
    .board {
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }
}

// 3 أعمدة
@media (max-width: 992px) {
    .board {
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }
}

// 2 أعمدة
@media (max-width: 768px) {
    .board {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

// عمود واحد في الموبايل
@media (max-width: 576px) {
    .board-wrapper {
        padding: 0 8px;
    }
    
    .board {
        grid-template-columns: 1fr !important;
        gap: 12px;
    }
}